/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    /* background: rgba(15, 13, 23, 0.85); */
    background: rgba(255, 60, 0, 0.85);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
}

.navbar-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-links {
    display: flex;
    gap: 24px;
}

.navbar-links a {
    /* color: var(--text-muted); */
    color: #fff;
    font-size: 14px;
}

.navbar-links a:hover {
    /* color: var(--text); */
    color: var(--text-muted);
}

.navbar-cta {
    /* background: var(--accent); */
    background: #ffc400;
    color: #0F0D17;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.navbar-cta:hover {
    /* background: var(--accent-soft); */
    background: #fff;
    color: #0F0D17;
}

/* Hidden by default */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--text);
    font-size: 22px;
    cursor: pointer;
}



/* SIDEBAR */
/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    max-width: 320px;
    background: var(--surface);
    border-left: 1px solid var(--border);
    transition: transform 0.35s ease;
    z-index: 200;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-close {
    background: none;
    border: none;
    color: var(--text);
    font-size: 22px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 24px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-links a {
    color: var(--text);
    font-size: 18px;
}

/* OVERLAY */
.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 150;
}

.sidebar-overlay.show {
    opacity: 1;
    pointer-events: auto;
}


/* HOME */
.home {
    min-height: calc(100vh - 72px);
    /* subtract navbar height */
    display: flex;
    align-items: center;
}

/* HERO */
.hero {
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.hero-title {
    color: var(--accent);
    font-size: 3rem;
    line-height: 1.1;
}

.hero-subtitle {
    color: var(--text-muted);
    margin-top: 12px;
    font-size: 1.1rem;
}

.hero-card {
    background: var(--surface);
    border: 1px solid var(--border);
    padding: 20px;
    margin-top: 32px;
    border-radius: 10px;
    max-width: 420px;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 6 - 6 */
    gap: 48px;
    align-items: center;
}

.accent {
    color: var(--accent);
    font-weight: 600;
}


.hero-avatar {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    border-radius: 12px;
    border: 1px solid var(--border);
}

/* footer-strip */

.footer-strip {
    padding: 24px 20px;
    border-top: 1px solid var(--border);
    background: rgba(15, 13, 23, 0.75);
    backdrop-filter: blur(8px);
    text-align: center;
}

.footer-strip p {
    color: var(--text-muted);
    font-size: 13px;
    line-height: 1.6;
    font-family: var(--font-mono);
}


/* CONTACT SECTION */

.contact-section {
    position: relative;
    padding: 100px 24px 120px;
}

.contact-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

/* LEFT */
.contact-tag {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #2b3e3c;
    background: #ffffff14;
    border-radius: 999px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 16px;
}

.contact-title {
    font-size: 2.2rem;
    margin-bottom: 12px;
    color: var(--text);
}

.contact-desc {
    color: var(--text-muted);
    max-width: 420px;
    line-height: 1.6;
}

.contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 32px;
}

.contact-card {
    background: #ffffff1b;
    border: 1px solid #ffffff58;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    min-height: 100px;
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.06),
        inset 0 -1px 1px rgba(0, 0, 0, 0.4),
        0 8px 24px rgba(0, 0, 0, 0.35);

    overflow: hidden;
}



.contact-card span {
    font-size: 12px;
    color: var(--text-muted);
}

.contact-card p {
    margin-top: 4px;
    font-size: 14px;
    font-family: var(--font-mono);
}

.contact-card a {
    color: #fff;
    text-decoration: none;
}

.contact-card:hover {
    border-color: #2b3e3c;
}

/* RIGHT */
.contact-form {
    background: #ffffff14;
    border: 1px solid #ffffff1b;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.06),
        inset 0 -1px 1px rgba(0, 0, 0, 0.4),
        0 8px 24px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.contact-form input,
.contact-form textarea {
    background: rgb(255 255 255 / 8%);
    font-family: var(--font-mono);
    border: 1px solid #ffffff54;
    border-radius: 10px;
    padding: 15px 17px;
    color: #fff;
    font-size: 14px;
}

.contact-form textarea {
    height: 30vh;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #2b3e3c;

}

.contact-form button {
    margin-top: 8px;
    background: #fff;
    color: #0f0d17;
    border: none;
    padding: 17px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-family: var(--font-mono);
    font-size: 15px;
}

.contact-form button:hover {
    background: #ffffff1b;
    border: 1px solid #fff;
    transition: all 0.1s ease;
    color: #fff;
}

/* FADE INTO FOOTER */
.contact-fade {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: linear-gradient(to bottom,
            transparent,
            rgba(15, 13, 23, 0.9));
}

.contact-icon {

    /* color: var(--accent); */
    filter: drop-shadow(0 0 8px rgba(255, 180, 80, 0.95));

    transition: transform 0.25s ease, filter 0.25s ease;
}

.contact-info-card:hover .contact-icon {
    transform: translateY(-2px) scale(1.05);
    filter: drop-shadow(0 0 10px rgba(255, 200, 120, 0.6));
}