/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    /* background: rgba(15, 13, 23, 0.85); */
    background: rgba(255, 60, 0, 0.85);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
}

.navbar-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*space-between */
}

.navbar-logo {
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-links {
    display: flex;
    gap: 24px;
}

.navbar-links a {
    /* color: var(--text-muted); */
    color: #fff;
    font-size: 14px;
}

.navbar-links a:hover {
    /* color: var(--text); */
    color: var(--text-muted);
}

.navbar-cta {
    /* background: var(--accent); */
    background: #ffc400;
    color: #0F0D17;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.navbar-cta:hover {
    /* background: var(--accent-soft); */
    background: #fff;
    color: #0F0D17;
}

/* Hidden by default */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--text);
    font-size: 22px;
    cursor: pointer;
}



/* SIDEBAR */
/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    max-width: 320px;
    background: var(--surface);
    border-left: 1px solid var(--border);
    transition: transform 0.35s ease;
    z-index: 200;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-close {
    background: none;
    border: none;
    color: var(--text);
    font-size: 22px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 24px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-links a {
    color: var(--text);
    font-size: 18px;
}

/* OVERLAY */
.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 150;
}

.sidebar-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

/* HOME */
.home {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.home-card {
    background: var(--surface);
    border: 1px solid var(--border);
    padding: 20px;
    margin-top: 24px;
    border-radius: 8px;
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 24px;
}

.home-left {
    display: flex;
}

.home-avatar {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.home-right h1 {
    margin-top: 15px;
    line-height: 1.6;
}

.home-right p {
    margin-top: 10px;
    line-height: 2;
    font-family: var(--font-mono);

}



/*About page */
.hero {
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.hero-title {
    color: var(--accent);
    font-size: 3rem;
    line-height: 1.1;
}

.hero-subtitle {
    color: var(--text-muted);
    margin-top: 12px;
    font-size: 1.1rem;
}

.hero-card {
    background: var(--surface);
    border: 1px solid var(--border);
    padding: 20px;
    margin-top: 32px;
    border-radius: 10px;
    max-width: 420px;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 6 - 6 */
    gap: 48px;
    align-items: center;
}

.accent {
    color: var(--accent);
    font-weight: 600;
}


.hero-avatar {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    border-radius: 12px;
    border: 1px solid var(--border);
}

/* footer-strip */

.footer-strip {
    padding: 24px 20px;
    border-top: 1px solid var(--border);
    background: rgba(15, 13, 23, 0.75);
    backdrop-filter: blur(8px);
    text-align: center;
}

.footer-strip p {
    color: var(--text-muted);
    font-size: 13px;
    line-height: 1.6;
    font-family: var(--font-mono);
}


/* CONTACT SECTION */

.contact-section {
    position: relative;
    padding: 100px 24px 120px;
}

.contact-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

/* LEFT */
.contact-tag {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #2b3e3c;
    background: #ffffff14;
    border-radius: 999px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 16px;
}

.contact-title {
    font-size: 2.2rem;
    margin-bottom: 12px;
    color: var(--text);
}

.contact-desc {
    color: var(--text-muted);
    max-width: 420px;
    line-height: 1.6;
}

.contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 32px;
}

.contact-card {
    background: #ffffff1b;
    border: 1px solid #ffffff58;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    min-height: 100px;
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.06),
        inset 0 -1px 1px rgba(0, 0, 0, 0.4),
        0 8px 24px rgba(0, 0, 0, 0.35);

    overflow: hidden;
}



.contact-card span {
    font-size: 12px;
    color: var(--text-muted);
}

.contact-card p {
    margin-top: 4px;
    font-size: 14px;
    font-family: var(--font-mono);
}

.contact-cards a {
    color: #fff;
    text-decoration: none;
}

.contact-card:hover {
    border-color: #2b3e3c;
}

/* RIGHT */
.contact-form {
    background: #ffffff14;
    border: 1px solid #ffffff1b;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.06),
        inset 0 -1px 1px rgba(0, 0, 0, 0.4),
        0 8px 24px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.contact-form input,
.contact-form textarea {
    background: rgb(255 255 255 / 8%);
    font-family: var(--font-mono);
    border: 1px solid #ffffff54;
    border-radius: 10px;
    padding: 15px 17px;
    color: #fff;
    font-size: 14px;
}

.contact-form textarea {
    height: 30vh;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #2b3e3c;

}

.contact-form button {
    margin-top: 8px;
    background: #fff;
    color: #0f0d17;
    border: none;
    padding: 17px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-family: var(--font-mono);
    font-size: 15px;
}

.contact-form button:hover {
    background: #ffffff1b;
    border: 1px solid #fff;
    transition: all 0.1s ease;
    color: #fff;
}

/* FADE INTO FOOTER */
.contact-fade {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: linear-gradient(to bottom,
            transparent,
            rgba(15, 13, 23, 0.9));
}

.contact-icon {

    /* color: var(--accent); */
    filter: drop-shadow(0 0 8px rgba(255, 180, 80, 0.95));

    transition: transform 0.25s ease, filter 0.25s ease;
}

.contact-info-card:hover .contact-icon {
    transform: translateY(-2px) scale(1.05);
    filter: drop-shadow(0 0 10px rgba(255, 200, 120, 0.6));
}

.icon-stack {
    position: relative;
    display: inline-flex;
}

.icon-overlay {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}


.resume-pdf {
    display: inline-flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    padding: 9px 11px;
    border: 1px solid #2b3e3c;
    background: #ffffff14;
    border-radius: 999px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;

}

/* SECTION HEADING */

.section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    width: 100%;
    margin: 80px 0 48px;
}

.section-title {
    font-size: clamp(20px, 3vw, 32px);
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
}

.section-line {
    flex: 1;
    flex-shrink: 0;
    height: 3px;

    border-radius: 999px;
    opacity: 0.9;
}

/* EXPERIENCE  */

/* CARD */
.experience-card {
    background: #ffffff1b;
    border: 1px solid #ffffff58;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    min-height: 100px;
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.06),
        inset 0 -1px 1px rgba(0, 0, 0, 0.4),
        0 8px 24px rgba(0, 0, 0, 0.35);

    overflow: hidden;
}

/* HEADER BUTTON */
.experience-header {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    text-align: left;
}

/* LEFT */
.header-left h3 {
    margin: 0;
    font-size: 18px;
}

.role {
    font-size: 14px;
    color: #9ecbff;
}

/* RIGHT META */
.meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}


.toggle {
    font-size: 15px;
    color: var(--accent);
    cursor: pointer;
}

.toggle {
    transition: transform 0.3s ease;
}

.experience-card.open .toggle {
    transform: rotate(180deg);
}

/* SUMMARY */
.experience-summary {
    text-align: left;
    margin-top: 10px;
    /* padding: 0 15px; */
    color: #d9e6f2;
    line-height: 1.5;
}

.experience-summary {
    margin-top: 8px;
    transition: margin-bottom 0.3s ease;
}

.experience-card.open .experience-summary {
    margin-bottom: 16px;
}

/* EXPANDED AREA */
.experience-content {
    /* margin-top: 20px; */
    padding-top: 16px;
    border-top: 1px solid var(--accent);
    overflow: hidden;
    max-height: 0;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.45s ease;
}

.experience-content-inner {
    overflow: hidden;
    transform: translateY(-8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.experience-card.open .experience-content {
    max-height: 100%;
    opacity: 1;
    transform: translateY(0);
    grid-template-rows: 1fr;
}

/* PROJECT GRID */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
    margin-top: 22px;
}

/* PROJECT CARD */
.exp-project-card {
    background: #122e3b;
    border: 1px solid #1f4456;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.exp-project-card:hover {
    transform: translateY(-4px);
    border-color: #ff6a00;
}

.exp-project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.exp-project-card span {
    font-size: 14px;
    color: #fff;
}

.role {
    font-family: var(--font-mono);
}

.experience-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 16px;
}

.header-left {
    display: flex;
    gap: 14px;
}

.company-logo {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background: #ffffff1b;
    border: 1px solid #ffffff1b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


.company-logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 8px;
}

.company-info h3 {
    font-family: var(--font-mono);
    color: var(--accent);
    font-size: 30px;
}

.company-info .role {
    margin-top: 2px;
    font-size: 14px;
    color: #9ecbff;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
}

.header-right .date {
    font-size: 14px;
    opacity: 0.9;
}

.experience-dates {
    margin-top: 13px;
    display: flex;
    gap: 8px;
    font-size: 13px;
    color: var(--text-muted);
}

.experience-dates span {
    white-space: nowrap;
}


.experience-hero {
    padding: 20px 40px 0 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.experience-text ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

.experience-text h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.fears-to-fathom-poster {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 12px;
    margin-bottom: 20px;
}

.fears-to-fathom-poster img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--border);
}

.fears-to-fathom-poster img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fears-to-fathom-poster img:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.fears-to-fathom-poster iframe {
    width: 100%;
    height: 315px;
    border-radius: 12px;
    border: 1px solid var(--border);

}

.fears-to-fathom-poster iframe {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fears-to-fathom-poster iframe:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.ml-20 {
    margin-left: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.mt-16 {
    margin-top: 16px;
}

/* PROJECT NAVIGATION */

.project-nav {
    position: fixed;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
}

.project-nav-item {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border: 1px solid #ffffff3b;
    background: #ffffff3e;
    cursor: pointer;
    padding: 6px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.06), inset 0 -1px 1px rgba(0, 0, 0, 0.4), 0 8px 15px rgba(202, 200, 200, 0.35);
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-nav-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.project-nav-item:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.f2f-heading-h4 {
    font-size: 19px;
    margin-bottom: 10px;
}


.experience-content.no-border {
  border-top: none;
  padding-top: 0;
}